* {
  box-sizing: border-box;
}
header {
  background-color: #84a98c;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2e8cf;
}

.navBar {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  width: 25%;
  font-weight: 500;
  display:flex;
  padding: 20px;
  justify-content: center;
  color: #e9edc9;  
  align-items: baseline;
}

.navBar a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 30px;
  color: #fcbf49;
  align-items: baseline;
}

.hero-banner {
  background-image: url(../images/pexels-fwstudio-139321.jpg);
  background-size: cover;
  background-position: top;
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
}

.hero-banner h2 {
  padding: 30px;
  position: relative;
  top: 50px;
  left: 376px;
  float: left;
  color: white;
}

.head-shot {
  position: relative;
  left: 583px;
  border-radius: 70px;
  width: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.page-section {
  padding: 30px;
  color: #3a5a40;
}

#about p {
  color: #84a98c;
  padding: 30px;
}

#missing-piece {
  background-image: url(../images/pexels-ann-h-3482442.jpg);
  grid-area: "missing-piece";
}
#organic-farm {
  background-image: url(../images/pexels-engin-akyurt-1435895.jpg);
  grid-area: "organic-farm";
}
#street-fashion {
  background-image: url(../images/pexels-godisable-jacob-1013326.jpg);
  grid-area: "street-fashion";
}
#gummy-bears {
  background-image: url(../images/pexels-pixabay-55825.jpg);
  grid-area: "gummy-bears";
}
#life-city {
  background-image: url(../images/pexels-pixabay-417023.jpg);
  grid-area: "life-city";
}

#work {
  display: grid;
  gap: 10px;
  align-content: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "life-city"
  "organic-farm street-fashion"
  "gummy-bears missing-piece";
}

#work > *:first-child {
  grid-column: span 2;
}


.work {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  height: 400px;
}
  .heading {
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #2a9d8f;
  }
.page-wrapper img {
  border: 30px;
}

.contact {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #fcbf49;
  align-items: baseline;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  #work {
    display: inline;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }


